@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* colors variables */
.root {
    --primary-color: #c6c3c3;
    --secondary-color: #ffffff;
    --black-color: #000000;
}

/* body styles */
body {
    background-image: url('/public/wallhaven-mosque\ login\ page\ 1600x900.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*reusablecss*/
a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

/* header styles */

/* wrapper styles */

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginbox {
    position: relative;
    width: 300px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--primary-color);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.loginheader {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.loginheader span {
    font-size: 30px;
    color: black;
}

.loginheader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 var(--primary-color);
}

.loginheader::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 var(--primary-color);
}

.input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 15px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 50px;
    border: 2px solid var();
    border-radius: 50px;
    outline: none;
}

#user {
    margin-bottom: auto;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

.input-field:focus~.label,
.input-field:valid~.label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: wheat;
    color: burlywood;
    border-radius: 30px;
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit {
    width: 100%;
    height: 50px;
    background: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.input-submit:hover {
    background-color: var(--secondary-color);
}

.register{
    text-align: center;
}

.register a{
    font-weight: 500;
}

@media only screen and (min-564px) {
    .wrapper{
        padding: 20px;
    }
    .loginbox {
        padding: 7.5em 1.5em 4em 2.5em;
    }
}
